body{
    margin: 0;
    background-image: url(../img/sfondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.welcome {
    border: solid;
    width: 360px;
    height: 200px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    min-height: 0px;
    padding: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border-radius: 22px;
    background-color: rgba(254, 254, 254, 0.5);
    border-color: rgba(0, 0, 0, 0.646);
}

#welcomeheader {
    height: 35px;
    border-radius: 22px;
    flex: 0 0 10px;
    min-height: 25px;
    margin: -6px -6px 0px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(0, 0, 0, 0.646);
    box-sizing: border-box; 
}

.welcome h1 {
    margin: 0 0 1px;
}
   
.welcome h2 {
    margin: 0;
}
.topbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}